<script>$('.contact-user').replaceWith('\</script>
    <div class="contact-user">\
        <div class="contacted-user">Message has been sent</div>\
    </div>\
    <%= render 'private/conversations/open' %>
<script>');\</script>